@charset "UTF-8";
/* CSS Document */

#siteContainer
{
	background-color: #fff;
}

.title
{
	text-align: center;
	font-size: 30px;
}

.scatterpotcanada
{
	position: relative;
	left: 10px;
}

.usaflag
{
	position:relative;
	left: 160px;
}

.scatterpotusa
{
	position: relative;
	left: 10px
}

.canadaheader
{
	margin-left: 335px;
}

.usaheader
{
	margin-left: 335px;
}

#canada
{
	text-align: center;
	color: red;
}

#usa
{
	text-align: center;
	color: blue;
}